* {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  //font size 13px, line-height 1.4, Helvetica font ...
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #333;
  min-width: 1020px;
}

#header {
  background-color: #f5f5f5;
  border-bottom: solid 1px #e5e5e5;
  padding-bottom: 10.5px;
  padding-top: 9.5px;



  #header-block {
    margin: 0 auto;
    text-align: center;
  }

  .mega-octicon {
    color: #333;
    font-size: 28px;
    line-height: 11px;
    vertical-align: middle;
  }

  .mega-octicon:hover {
    color: #4183c4;
  }

  .search-box {
    display: inline-block;

    .input-text {
      background-color: #fff;
      border: solid 1px #ccc;
      border-radius: 3px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
      font-size: 12px;
      margin-left: 6px;
      margin-right: 14px;
      padding: 4.25px 6px 5.5px 7.5px;
      vertical-align: middle;
      width: 344px;
    }
  }

  #links-left {
    display: inline-block;
  }

  #links-right {
    display: inline-block;
    vertical-align: super;


    .links {
      padding-right: 15px;
    }
  }

  li {
    display: inline-block;
    list-style: none;

    * {
      line-height: 11px;
      vertical-align: middle;
    }
  }

  .links {
    color: #333;
    display: inline-block;
    font-weight: bold;
    letter-spacing: -.1px;
    padding-right: 13px;
    text-decoration: none;
  }

  .links:hover {
    color: #4183c5;
  }

  .align {
    font-weight: bold;
    vertical-align: -webkit-baseline-middle;
  }

  .avatar {
    line-height: 11px;
    vertical-align: -webkit-baseline-middle;
  }

  .avatar img {
    border-radius: 3px;
    height: 20px;

  }

  .octicon-inbox {
    font-size: 20px;
  }

  .octicon-triangle-down {
    font-size: 10px;
  }

  .octicon-plus {
    font-size: 18px;
  }
}

#page-container{
  margin: 0 auto;
  text-align: -webkit-center;
}

#sidebar {
  display: inline-block;
  margin-right: 12px;
  text-align: left;
  vertical-align: top;
  width: 234px;

  ul {
    list-style-type: none;
  }



  .avatar img {
    border-radius: 6px;
    height: 230px;
    margin-top: 20px;
    width: 230px;
  }

  .name {

    font-size: 25px;
    font-weight: bold;
    letter-spacing: .7px;
    position: relative;
  }

  .username {
    bottom: 7px;
    color: #767b89;
    font-size: 20px;
    position: relative;
  }

  .date {
    border-bottom: solid 2px #f4f4f4;
    border-top: solid 2px #f4f4f4;
    font-size: 14px;
    margin-top: 5px;
    padding-bottom: 17px;
    padding-left: 1px;
    padding-top: 16px;
  }

  .octicon-clock {
    bottom: 1px;
    color: #ccc;
    margin-right: 9px;
    position: relative;
  }

  .stats {
    border-bottom: solid 2px #f4f4f4;
    display: inline-block;
    float: left;
    margin-bottom: 24px;
    padding: 10px 18px 6px 18px;
    text-align: center;
  }

  .stats:hover {
    p {
      color: #4183c4;
    }
  }

  .count {
    color: #4183c4;
    font-size: 29px;
    font-weight: bold;
    padding-top: 17px;
    text-decoration: none;

    p {
      bottom: 7px;
      color: #888;
      font-size: 11px;
      position: relative;
    }
  }

  .org-header {
    font-size: 16px;
    font-weight: bold;
    padding-top: 27px;
  }

  .org {
    margin-top: 12px;
  }

  .org-img {
    height: 42px;
    margin-bottom: 12px;
  }
}

#main-content {
  display: inline-block;
  margin-top: 28px;
  text-align: -webkit-left;
  width: 730px;


  #tabs {
    border-bottom: solid 2px #f4f4f4;
    height: 25px;
    list-style: none;
    padding-left: 13px;

    li {
      display: inline-block;
      margin-right: 25px;
    }
  }

  .tab-link {
    color: #333;
    font-size: 15px;
    letter-spacing: -.4px;
    text-decoration: none;

    span {
      padding-right: 4px;
    }
  }

  .button {

    border: solid 1px #e5e5e5;
    border-radius: 3px;
    display: inline-block;
  }

  .edit-button {
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);

    height: 26px;
    width: 108px;

    a {
      color: #333;
      font-size: 13px;
      font-weight: bold;
      text-decoration: none;
    }

  }

  .octicon-pencil {
    color: #333;
    margin: 2px 3px 0 0;
  }

  .container {
    border-bottom: solid 1px #e5e5e5;
    height: 58px;
  }

  form {
    display: inline-block;
  }

  .input-text {
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
    font-size: 13px;
    margin-top: 14px;
    padding: 8.25px 6px 6.5px 8.5px;
    vertical-align: middle;
    width: 244px;
  }

  .search-button {
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);
    display: inline-block;
    height: 33px;
    top: 7px;
    width: 68px;

    a {
      color: #333;
      font-weight: bold;
      text-decoration: none;
    }
  }

  #nav {
    display: inline-block;
    margin-left: 31px;
  }

  .content-nav {
    bottom: 10px;
    display: inline-block;
    position: relative;


    a {
      color: #4183c4;
      font-size: 15px;
      padding-right: 4px;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .new-button {
    background-color: #64b048;
    background-image: linear-gradient(#8add6d, #60b044);
    height: 36px;
    width: 70px;

    a {
      color: #fff;
      text-decoration: none;
    }

    .octicon-repo {
      padding-right: 5px;
    }
  }

  #repo-list {
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 30px;
    padding-top: 28px;
  }

  .repo-link {
    text-decoration: none;
  }

  .repo-link:hover {
    text-decoration: underline;
  }

  .reponame {
    color: #4183c4;
    font-size: 20px;
  }

  .repoupdated {
    color: #928c88;
    margin-top: 5px;
  }

  .report {
    color: #928c88;
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin-left: 2px;
    margin-top: 7px;
  }
}


#footer {
  border-top: solid 1px #eee;
  color: #777;
  font-size: 12px;
  line-height: 1.5;
  margin-top: 40px;
  padding: 40px 0;
  text-align: center;
  // margin-left set to -1/2 width

  .mega-octicon {
    color: #ccc;
    display: inline-block;
    font-size: 24px;
    left: 50%;
    margin-left: -12px;
  }

  .mega-octicon:hover {
    color: #bbb;
  }

  li {
    display: inline-block;
    list-style: none;
  }

  #footer-links-left {
    display: inline-block;
    letter-spacing: -.45px;
  }

  #footer-links-right {
    display: inline-block;
    letter-spacing: -.45px;
  }

  .footer-links {
    color: #4183c5;
    padding-left: 10px;
    text-decoration: none;
  }

  .footer-links:hover {
    text-decoration: underline;
  }
}
